.menu-active
{
    font-size: 20px;
    border-bottom: 1px solid blue;
}
.navbar-toggler
{
    background-color: blue;
}
.navbar-toggler span
{
    color: blue!important;
}
.mb-xl-30
{
    margin-bottom: 20px;
}